.App {
    /*text-align: center;*/
}

.center {
    background-color: #ffffffe6;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*justify-content: space-around;*/

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 25px;
}
.cen2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

body{
    background: url(https://i.imgur.com/df9JIHL.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: initial;
}

.cont {
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.right{
    float: right;
}


.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
